public/workflows/ai-content-pipeline.json
{
  "name": "[마케팅] AI 콘텐츠 생성 파이프라인 - Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "콘텐츠 요청",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "content-pipeline"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "당신은 전문 콘텐츠 마케터입니다. 주어진 주제로 3가지 버전의 콘텐츠를 생성하세요.\n\nJSON으로 응답:\n{\n  \"sns\": \"SNS 캡션 (200자 이내, 해시태그 포함)\",\n  \"blog\": \"블로그 본문 (1000자 내외, 소제목 포함)\",\n  \"newsletter\": \"뉴스레터 (500자 내외, 인사말+본문+CTA)\"\n}"
            },
            {
              "role": "user",
              "content": "=주제: {{ $json.body?.topic || $json.topic || '마케팅 자동화' }}\n톤: {{ $json.body?.tone || $json.tone || '전문적이면서 친근한' }}\n타깃: {{ $json.body?.target || $json.target || '마케팅 담당자' }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "openai-node",
      "name": "AI 콘텐츠 생성",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [450, 300],
      "credentials": {
        "openAiApi": {
          "id": "placeholder-openai-api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const aiResponse = $input.first().json.message?.content || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(aiResponse);\n} catch (e) {\n  parsed = {\n    sns: 'SNS 콘텐츠 생성 실패',\n    blog: '블로그 콘텐츠 생성 실패',\n    newsletter: '뉴스레터 콘텐츠 생성 실패'\n  };\n}\n\nconst topic = $('콘텐츠 요청').first().json.body?.topic || '주제 없음';\nconst now = new Date().toISOString();\n\nreturn [{\n  json: {\n    topic,\n    sns: parsed.sns || '',\n    blog: parsed.blog || '',\n    newsletter: parsed.newsletter || '',\n    createdAt: now,\n    versions: 3\n  }\n}];"
      },
      "id": "code-node",
      "name": "버전별 분리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "placeholder-notion-database-id",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "주제",
              "title": "={{ $json.topic }}"
            },
            {
              "key": "SNS 캡션",
              "richText": true,
              "textContent": "={{ $json.sns }}"
            },
            {
              "key": "블로그 본문",
              "richText": true,
              "textContent": "={{ $json.blog }}"
            },
            {
              "key": "뉴스레터",
              "richText": true,
              "textContent": "={{ $json.newsletter }}"
            },
            {
              "key": "생성일",
              "date": "={{ $json.createdAt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-node",
      "name": "노션 저장",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [850, 300],
      "credentials": {
        "notionApi": {
          "id": "placeholder-notion-api",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "placeholder-channel-id",
          "mode": "id"
        },
        "text": "=✅ *콘텐츠 생성 완료*\n\n📌 주제: {{ $json.topic }}\n📝 생성된 버전: SNS 캡션 / 블로그 본문 / 뉴스레터\n🔗 노션에서 확인하세요",
        "otherOptions": {}
      },
      "id": "slack-node",
      "name": "완료 알림",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1050, 300],
      "credentials": {
        "slackOAuth2Api": {
          "id": "placeholder-slack-oauth2",
          "name": "Slack OAuth2 계정"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, topic: $json.topic, message: '콘텐츠 3가지 버전이 생성되어 노션에 저장되었습니다.' }) }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "완료",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "콘텐츠 요청": {
      "main": [
        [
          {
            "node": "AI 콘텐츠 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 콘텐츠 생성": {
      "main": [
        [
          {
            "node": "버전별 분리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "버전별 분리": {
      "main": [
        [
          {
            "node": "노션 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "노션 저장": {
      "main": [
        [
          {
            "node": "완료 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "완료 알림": {
      "main": [
        [
          {
            "node": "완료",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "Asia/Seoul",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-03-09T00:00:00.000Z",
      "updatedAt": "2026-03-09T00:00:00.000Z",
      "id": "marketing",
      "name": "마케팅"
    },
    {
      "createdAt": "2026-03-09T00:00:00.000Z",
      "updatedAt": "2026-03-09T00:00:00.000Z",
      "id": "ai-content",
      "name": "AI 콘텐츠"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-09T00:00:00.000Z",
  "versionId": "1"
}
