public/workflows/ai-email-classifier.json
{
  "name": "AI 이메일 분류기",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "gmail-trigger-node",
      "name": "새 이메일 수신",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "placeholder-gmail-oauth2",
          "name": "Gmail OAuth2 계정"
        }
      }
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "다음 이메일을 분석하여 카테고리를 분류하세요: 긴급, 일반, 홍보, 스팸. JSON으로 응답: {\"category\": \"긴급\"|\"일반\"|\"홍보\"|\"스팸\", \"summary\": \"간략한 요약\", \"priority_score\": 1-10}"
            },
            {
              "role": "user",
              "content": "=제목: {{ $json.subject }}\n\n발신자: {{ $json.from }}\n\n본문:\n{{ $json.textPlain || $json.textHtml }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "openai-node",
      "name": "AI 분류",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [470, 300],
      "credentials": {
        "openAiApi": {
          "id": "placeholder-openai-api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.item.json.message?.content || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(aiResponse);\n} catch (e) {\n  parsed = { category: '일반', summary: '분류 실패', priority_score: 5 };\n}\n\nconst emailData = $('새 이메일 수신').item.json;\n\nreturn {\n  json: {\n    category: parsed.category || '일반',\n    summary: parsed.summary || '',\n    priority_score: parsed.priority_score || 5,\n    subject: emailData.subject,\n    from: emailData.from,\n    date: emailData.date,\n    messageId: emailData.id\n  }\n};"
        },
      "id": "code-node",
      "name": "응답 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "multipleOutputs",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "긴급",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "긴급"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "일반",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "일반"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "홍보",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "홍보"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "스팸",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "스팸"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-node",
      "name": "카테고리별 분기",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C12345URGENT",
          "mode": "id"
        },
        "text": "=🚨 긴급 이메일 도착\n\n*제목:* {{ $json.subject }}\n*발신자:* {{ $json.from }}\n*요약:* {{ $json.summary }}\n*우선순위:* {{ $json.priority_score }}/10\n*수신 시각:* {{ $json.date }}",
        "otherOptions": {}
      },
      "id": "slack-node",
      "name": "Slack 긴급 알림",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1130, 100],
      "credentials": {
        "slackOAuth2Api": {
          "id": "placeholder-slack-oauth2",
          "name": "Slack OAuth2 계정"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "placeholder-spreadsheet-id",
          "mode": "id",
          "cachedResultName": "이메일 로그"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "날짜": "={{ $json.date }}",
            "발신자": "={{ $json.from }}",
            "제목": "={{ $json.subject }}",
            "요약": "={{ $json.summary }}",
            "우선순위": "={{ $json.priority_score }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": true
        }
      },
      "id": "sheets-node",
      "name": "구글 시트 기록",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1130, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "placeholder-sheets-oauth2",
          "name": "Google Sheets OAuth2 계정"
        }
      }
    },
    {
      "parameters": {},
      "id": "noop-node",
      "name": "무시",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1130, 500]
    }
  ],
  "connections": {
    "새 이메일 수신": {
      "main": [
        [
          {
            "node": "AI 분류",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 분류": {
      "main": [
        [
          {
            "node": "응답 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "응답 파싱": {
      "main": [
        [
          {
            "node": "카테고리별 분기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "카테고리별 분기": {
      "main": [
        [
          {
            "node": "Slack 긴급 알림",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "구글 시트 기록",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "무시",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "무시",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "Asia/Seoul",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-02-14T00:00:00.000Z",
      "updatedAt": "2026-02-14T00:00:00.000Z",
      "id": "ai-automation",
      "name": "AI 자동화"
    },
    {
      "createdAt": "2026-02-14T00:00:00.000Z",
      "updatedAt": "2026-02-14T00:00:00.000Z",
      "id": "email-processing",
      "name": "이메일 처리"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-14T00:00:00.000Z",
  "versionId": "1"
}
