public/workflows/daily-work-report.json
{
  "name": "[업무] 일일 업무 보고 자동화 - 스케줄",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule-trigger-node",
      "name": "매일 오후 보고",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "channel",
        "operation": "history",
        "channelId": {
          "__rl": true,
          "value": "C_YOUR_CHANNEL_ID",
          "mode": "id"
        },
        "returnAll": true,
        "filters": {
          "oldest": "={{ Math.floor(new Date(new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Seoul' }) + 'T00:00:00+09:00').getTime() / 1000) }}"
        },
        "options": {}
      },
      "id": "slack-get-messages",
      "name": "오늘 메시지 수집",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [450, 300],
      "credentials": {
        "slackOAuth2Api": {
          "id": "placeholder-slack-oauth2",
          "name": "Slack OAuth2 계정"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const messages = $input.all();\n\nconst grouped = {};\nfor (const msg of messages) {\n  const user = msg.json.user || '알 수 없음';\n  if (!grouped[user]) grouped[user] = [];\n  grouped[user].push(msg.json.text || '');\n}\n\nlet summary = '';\nfor (const [user, texts] of Object.entries(grouped)) {\n  summary += `[${user}]\\n`;\n  texts.forEach(t => { summary += `- ${t}\\n`; });\n  summary += '\\n';\n}\n\nreturn [{ json: { messagesSummary: summary, messageCount: messages.length, date: new Date().toLocaleDateString('ko-KR', { timeZone: 'Asia/Seoul' }) } }];"
      },
      "id": "code-group-messages",
      "name": "메시지 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "팀의 오늘 Slack 메시지를 분석하여 일일 업무 보고서를 작성하세요. 다음 항목으로 구분합니다:\n1. 완료 업무\n2. 진행 중 업무\n3. 이슈 및 특이사항\n\n간결하고 핵심적인 내용만 포함하세요."
            },
            {
              "role": "user",
              "content": "=오늘 날짜: {{ $json.date }}\n메시지 수: {{ $json.messageCount }}건\n\n--- 메시지 내용 ---\n{{ $json.messagesSummary }}"
            }
          ]
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "openai-report",
      "name": "AI 보고서 생성",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [850, 300],
      "credentials": {
        "openAiApi": {
          "id": "placeholder-openai-api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "placeholder-notion-db-id",
          "mode": "id"
        },
        "title": "={{ new Date().toLocaleDateString('ko-KR', { timeZone: 'Asia/Seoul' }) }} 일일 보고",
        "bodyUi": {
          "bodyValues": [
            {
              "blockUi": {
                "blockValues": [
                  {
                    "type": "paragraph",
                    "richText": true,
                    "textContent": "={{ $json.message?.content || $json.text || '' }}"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "notion-save",
      "name": "노션 보고서 저장",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1050, 300],
      "credentials": {
        "notionApi": {
          "id": "placeholder-notion-api",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C_YOUR_CHANNEL_ID",
          "mode": "id"
        },
        "text": "=:clipboard: 일일 업무 보고서가 생성되었습니다!\n날짜: {{ $('메시지 정리').item.json.date }}\n노션에서 확인하세요.",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "보고서 완료 알림",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1250, 300],
      "credentials": {
        "slackOAuth2Api": {
          "id": "placeholder-slack-oauth2",
          "name": "Slack OAuth2 계정"
        }
      }
    }
  ],
  "connections": {
    "매일 오후 보고": {
      "main": [
        [
          {
            "node": "오늘 메시지 수집",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "오늘 메시지 수집": {
      "main": [
        [
          {
            "node": "메시지 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메시지 정리": {
      "main": [
        [
          {
            "node": "AI 보고서 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 보고서 생성": {
      "main": [
        [
          {
            "node": "노션 보고서 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "노션 보고서 저장": {
      "main": [
        [
          {
            "node": "보고서 완료 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "Asia/Seoul",
    "saveExecutionProgress": true,
    "executionTimeout": 3600,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-03-09T00:00:00.000Z",
      "updatedAt": "2026-03-09T00:00:00.000Z",
      "id": "hr-automation",
      "name": "HR 자동화"
    },
    {
      "createdAt": "2026-03-09T00:00:00.000Z",
      "updatedAt": "2026-03-09T00:00:00.000Z",
      "id": "daily-report",
      "name": "일일 보고"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-09T00:00:00.000Z",
  "versionId": "1"
}
