public/workflows/financial-news-summary.json
{
  "name": "[금융] 금융 뉴스 AI 요약 - 평일 아침",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule-trigger-node",
      "name": "매일 아침 뉴스 수집",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://openapi.naver.com/v1/search/news.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Naver-Client-Id",
              "value": "={{ $env.NAVER_CLIENT_ID }}"
            },
            {
              "name": "X-Naver-Client-Secret",
              "value": "={{ $env.NAVER_CLIENT_SECRET }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "금융 경제"
            },
            {
              "name": "display",
              "value": "10"
            },
            {
              "name": "sort",
              "value": "date"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-node",
      "name": "네이버 뉴스 검색",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// 네이버 뉴스 검색 결과에서 제목과 설명 추출\nconst response = $input.item.json;\nconst items = response.items || [];\n\nif (items.length === 0) {\n  return { json: { newsText: '오늘 관련 뉴스가 없습니다.', count: 0 } };\n}\n\n// HTML 태그 제거 함수\nconst removeHtml = (str) => str.replace(/<[^>]*>/g, '').replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n\nconst newsList = items.map((item, idx) => {\n  const title = removeHtml(item.title);\n  const desc = removeHtml(item.description);\n  return `${idx + 1}. ${title}\\n   ${desc}\\n   링크: ${item.link}`;\n});\n\nreturn {\n  json: {\n    newsText: newsList.join('\\n\\n'),\n    count: items.length\n  }\n};"
      },
      "id": "code-node",
      "name": "뉴스 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "당신은 금융 뉴스 전문 요약 에이전트입니다. 다음 금융/경제 뉴스 목록을 분석하고, 오늘의 핵심 금융 동향을 3줄로 요약하세요. 각 줄은 구체적인 수치나 키워드를 포함해야 합니다. 한국어로 작성하세요."
            },
            {
              "role": "user",
              "content": "=다음은 오늘의 금융/경제 뉴스입니다:\n\n{{ $json.newsText }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "openai-node",
      "name": "AI 요약",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [850, 300],
      "credentials": {
        "openAiApi": {
          "id": "placeholder-openai-api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C12345NEWS",
          "mode": "id"
        },
        "text": "=:newspaper: *오늘의 금융 뉴스 브리핑*\n\n{{ $json.message?.content || $json.text }}\n\n_{{ $('뉴스 정리').item.json.count }}개 뉴스 기반 AI 요약 | {{ $now.toFormat('yyyy-MM-dd HH:mm') }}_",
        "otherOptions": {}
      },
      "id": "slack-node",
      "name": "슬랙 브리핑",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1050, 300],
      "credentials": {
        "slackOAuth2Api": {
          "id": "placeholder-slack-oauth2",
          "name": "Slack OAuth2 계정"
        }
      }
    }
  ],
  "connections": {
    "매일 아침 뉴스 수집": {
      "main": [
        [
          {
            "node": "네이버 뉴스 검색",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "네이버 뉴스 검색": {
      "main": [
        [
          {
            "node": "뉴스 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "뉴스 정리": {
      "main": [
        [
          {
            "node": "AI 요약",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 요약": {
      "main": [
        [
          {
            "node": "슬랙 브리핑",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "Asia/Seoul",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-03-09T00:00:00.000Z",
      "updatedAt": "2026-03-09T00:00:00.000Z",
      "id": "finance",
      "name": "금융"
    },
    {
      "createdAt": "2026-03-09T00:00:00.000Z",
      "updatedAt": "2026-03-09T00:00:00.000Z",
      "id": "ai-automation",
      "name": "AI 자동화"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-09T00:00:00.000Z",
  "versionId": "1"
}
