public/workflows/naver-news-monitor.json
{
  "name": "[IT] 네이버 뉴스 모니터링 - 스케줄",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,13,18 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule-trigger-node",
      "name": "업무시간 뉴스 체크",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://openapi.naver.com/v1/search/news.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Naver-Client-Id",
              "value": "={{ $env.NAVER_CLIENT_ID }}"
            },
            {
              "name": "X-Naver-Client-Secret",
              "value": "={{ $env.NAVER_CLIENT_SECRET }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "n8n 자동화"
            },
            {
              "name": "display",
              "value": "10"
            },
            {
              "name": "sort",
              "value": "date"
            }
          ]
        },
        "options": {}
      },
      "id": "naver-search-node",
      "name": "네이버 뉴스 검색",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const response = $input.first().json;\nconst items = response.items || [];\n\nif (items.length === 0) {\n  return [{ json: { hasNews: false, newsCount: 0, formattedNews: '' } }];\n}\n\nconst formatted = items.map((item, i) => {\n  const title = item.title.replace(/<[^>]*>/g, '').replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n  const desc = item.description.replace(/<[^>]*>/g, '').replace(/&quot;/g, '\"').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n  return `${i + 1}. *${title}*\\n   ${desc}\\n   ${item.link}`;\n}).join('\\n\\n');\n\nreturn [{ json: { hasNews: true, newsCount: items.length, formattedNews: formatted } }];"
      },
      "id": "code-format-node",
      "name": "뉴스 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.hasNews }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-news",
      "name": "뉴스 있는지?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C_YOUR_CHANNEL_ID",
          "mode": "id"
        },
        "text": "=:newspaper: *네이버 뉴스 모니터링* ({{ $json.newsCount }}건)\n\n{{ $json.formattedNews }}",
        "otherOptions": {}
      },
      "id": "slack-notify-node",
      "name": "뉴스 알림",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1050, 200],
      "credentials": {
        "slackOAuth2Api": {
          "id": "placeholder-slack-oauth2",
          "name": "Slack OAuth2 계정"
        }
      }
    }
  ],
  "connections": {
    "업무시간 뉴스 체크": {
      "main": [
        [
          {
            "node": "네이버 뉴스 검색",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "네이버 뉴스 검색": {
      "main": [
        [
          {
            "node": "뉴스 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "뉴스 정리": {
      "main": [
        [
          {
            "node": "뉴스 있는지?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "뉴스 있는지?": {
      "main": [
        [
          {
            "node": "뉴스 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "Asia/Seoul",
    "saveExecutionProgress": true,
    "executionTimeout": 3600,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-03-09T00:00:00.000Z",
      "updatedAt": "2026-03-09T00:00:00.000Z",
      "id": "korean-service",
      "name": "한국 서비스"
    },
    {
      "createdAt": "2026-03-09T00:00:00.000Z",
      "updatedAt": "2026-03-09T00:00:00.000Z",
      "id": "news-monitoring",
      "name": "뉴스 모니터링"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-09T00:00:00.000Z",
  "versionId": "1"
}
