public/workflows/saramin-ai-resume.json
{
  "name": "[취준] 사람인 AI 자기소개서 생성 - Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-resume",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "자소서 요청",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "ai-resume-webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://oapi.saramin.co.kr/job-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access-key",
              "value": "={{ $env.SARAMIN_API_KEY }}"
            },
            {
              "name": "keywords",
              "value": "={{ $json.keyword || '개발자' }}"
            },
            {
              "name": "count",
              "value": "={{ $json.count || '5' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "saramin-search",
      "name": "사람인 채용공고 검색",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const response = $input.first().json;\nconst jobs = response.jobs?.job || [];\n\nif (jobs.length === 0) {\n  return [{ json: { error: '검색 결과가 없습니다', keyword: $('자소서 요청').first().json.keyword } }];\n}\n\nconst topJob = jobs[0];\nconst extracted = {\n  companyName: topJob.company?.detail?.name || '알 수 없음',\n  position: topJob.position?.title || '알 수 없음',\n  industry: topJob.position?.industry?.name || '',\n  location: topJob.position?.location?.name || '',\n  experienceLevel: topJob.position?.['experience-level']?.name || '',\n  requiredEducation: topJob.position?.['required-education-level']?.name || '',\n  jobType: topJob.position?.['job-type']?.name || '',\n  salary: topJob.salary?.name || '',\n  deadline: topJob['expiration-date'] || '',\n  url: topJob.url || '',\n  keyword: $('자소서 요청').first().json.keyword || ''\n};\n\nreturn [{ json: extracted }];"
      },
      "id": "code-extract-job",
      "name": "공고 정보 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "당신은 한국 취업 시장의 자기소개서 작성 전문가입니다. 주어진 채용공고 정보를 바탕으로 설득력 있는 자기소개서를 작성하세요.\n\n다음 항목을 포함하세요:\n1. 지원동기 (왜 이 회사/직무에 지원하는지)\n2. 직무역량 (해당 직무에 필요한 역량과 경험)\n3. 성장가능성 (입사 후 기여할 수 있는 점)\n\n각 항목은 200-300자로 작성하고, 구체적이고 진솔한 톤을 사용하세요."
            },
            {
              "role": "user",
              "content": "=채용공고 정보:\n회사명: {{ $json.companyName }}\n직무: {{ $json.position }}\n업종: {{ $json.industry }}\n근무지: {{ $json.location }}\n경력: {{ $json.experienceLevel }}\n학력: {{ $json.requiredEducation }}\n고용형태: {{ $json.jobType }}\n\n이 채용공고에 맞는 자기소개서를 작성해주세요."
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "openai-resume",
      "name": "AI 자소서 생성",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [850, 300],
      "credentials": {
        "openAiApi": {
          "id": "placeholder-openai-api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const aiResponse = $input.first().json;\nconst jobInfo = $('공고 정보 추출').first().json;\nconst resumeText = aiResponse.message?.content || aiResponse.text || '';\n\nreturn [{\n  json: {\n    date: new Date().toLocaleDateString('ko-KR', { timeZone: 'Asia/Seoul' }),\n    companyName: jobInfo.companyName,\n    position: jobInfo.position,\n    resume: resumeText,\n    keyword: jobInfo.keyword,\n    url: jobInfo.url\n  }\n}];"
      },
      "id": "code-format-result",
      "name": "결과 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "placeholder-spreadsheet-id",
          "mode": "id",
          "cachedResultName": "자기소개서 관리"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "날짜": "={{ $json.date }}",
            "회사명": "={{ $json.companyName }}",
            "직무": "={{ $json.position }}",
            "자기소개서": "={{ $json.resume }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": true
        }
      },
      "id": "sheets-save",
      "name": "결과 저장",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1250, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "placeholder-sheets-oauth2",
          "name": "Google Sheets OAuth2 계정"
        }
      }
    },
    {
      "parameters": {},
      "id": "noop-complete",
      "name": "완료",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "자소서 요청": {
      "main": [
        [
          {
            "node": "사람인 채용공고 검색",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "사람인 채용공고 검색": {
      "main": [
        [
          {
            "node": "공고 정보 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "공고 정보 추출": {
      "main": [
        [
          {
            "node": "AI 자소서 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 자소서 생성": {
      "main": [
        [
          {
            "node": "결과 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "결과 정리": {
      "main": [
        [
          {
            "node": "결과 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "결과 저장": {
      "main": [
        [
          {
            "node": "완료",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "Asia/Seoul",
    "saveExecutionProgress": true,
    "executionTimeout": 3600,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-03-09T00:00:00.000Z",
      "updatedAt": "2026-03-09T00:00:00.000Z",
      "id": "korean-service",
      "name": "한국 서비스"
    },
    {
      "createdAt": "2026-03-09T00:00:00.000Z",
      "updatedAt": "2026-03-09T00:00:00.000Z",
      "id": "ai-resume",
      "name": "AI 자기소개서"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-09T00:00:00.000Z",
  "versionId": "1"
}
